.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 1em;
    
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.topicos__lista-itens {
    margin: 2em 0.5em;
}

.topicos__lista-links {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875em;
}

